body {
    font-family: Arial, sans-serif;
    background-color: #4e5bf3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.feedback-section {
    text-align: center;
    background-color: #f0f0ff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
}

.question {
    background-color: #4e5bf3;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.question h1 {
    color: white;
    font-size: 24px;
    margin: 0;
}

.options {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #a7b4f7;
    border-radius: 0 0 10px 10px;
}

.option {
    text-align: center;
}

.w3-button {
    background-color: #7aa6f9; 
    color: white;
    padding: 10px 20px;
    border: none; 
    border-radius: 10px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
    box-shadow: 7px 8px 13px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.w3-button .fa-home {
    font-size: 24px;
}

.w3-button:hover {
    background-color: #6e84ff !important;
}


.yes-button, .no-button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.yes-button {
    background-color: #4CAF50;
}

.no-button {
    background-color: #f44336;
}

.yes-button:hover {
    background-color: #459b49;
}

.no-button:hover {
    background-color: #d73734;
}
